%h1 Listing tasks
%h3.red My tasks are:

%table.table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.name
        %td= link_to 'Show', task
        %td= link_to 'Edit', edit_task_path(task)
        %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to new_task_path do
  .btn.btn-lg.btn-success
    New Task

= link_to new_task_path do
  %img{ src: "http://americanlifestylemag.com/wp-content/uploads/2015/03/FluffyFace-copy.jpg" }
